<!-- ---------------------COVER------------------------------------------ -->

<div class="p-col-12 p-md-12 p-lg-12 p-grid p-nogutter text-800" style="padding: 0;">
  <div class="p-col-12 p-md-12 p-lg-12 overflow-hidden">
    <div class="showcase">
      <div class="text">
        <h2>The Library Of Your Dreams</h2>
        <h3>At Your Doorstep</h3>
      </div>
      <div>
        <button pButton pRipple label="View" type="button" [routerLink]="['/catalogue']"
          class="mr-3 p-button-raised"></button>
      </div>
    </div>
    <div class="transbox">
      <img class="p-col-12 p-md-12 p-lg-12" src="assets/child.jpg" alt="Image"
        style="object-fit: cover;height: 710px; padding: 0;">
    </div>
  </div>
</div>
  
  <!-- ---------------------HOME-CONTENT----ff0d86-------------------------------------- -->
  
  <section>
  
    <!-- ----------------------Quote-section------------------------------------------ -->
  
    <div class="grid grid-nogutter">
      <div class="quote-section p-col-12 p-md-12 p-lg-12">
        <div class="quote-text p-col-12 p-md-12 p-lg-12">
          <p style="padding-top: 8%;">
            You say that you love your children,<br>
            And are concerned that they learn today,<br>
            As am I, that’s why I’m providing <br>
            A variety of kinds of play. <br>
            - Laurie Monopoli      
          </p>
        </div>
      </div>
    </div>
    <!-- <video src="assets/lbp-video.mp4" muted loop autoplay></video>
    <div class="overlay"></div> -->
  
    <!-- ----------------------Questin-slider------------------------------------------ -->
  
  <div class="ques-slider">
    <section class="home">
      <div class="container">
        <div class="row">
          <div class="home-text">
            <p class="animate-text">
              <span>Have you noticed that your child’s attachment to toys is often transient?</span>
              <span>Would you like to save money and still give your sweethearts a wonderful time?</span>
              <span>Are you concerned about the deteriorating environment that your kids should lead someday?</span>
            </p>
            <h1>Little Bear’s Playwood is your destination!</h1>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  
  
  <!-- ----------------------TOYS-SAMPLE-CAROUSEL------------------------------------------ -->
  
  <p-carousel [value]="newAddedToys" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
    [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
      <h2 style="font-family: sans-serif;font-size: 3em;font-weight: 900;padding-top: 30px;color: rgb(42, 134, 113);">latest collection</h2>
    </ng-template>
    <ng-template let-toy pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="mb-3">
            <img src="{{toyUrlHead + toy.toyimage}}" [alt]="toy.name" class="product-image" />
          </div>
          <div>
            <h4 class="mb-1">{{toy.toyname}}</h4>
            <!-- <h6 class="mt-0 mb-3">${{toy.price}}</h6> -->
            <!-- <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{toy.inventoryStatus}}</span> -->
            <span style="color: rgb(42, 134, 113);">IN STOCK</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="View More" type="button" [routerLink]="['/catalogue']"
          class="mr-3 p-button-raised"></button>
    </ng-template>
  </p-carousel>
  
  
  </section>
  
