<p-card>
    <h1>About Us</h1>
    <p>
        `Ever since the COVID-19 pandemic we have noticed that many kids are not playing and that some are usually in
        front
        of screens. So, we wanted to change this. We came up with this toy renting-business to help children imagine,
        create, have fun and help them think out of the box.
    </p>
    <h2>Our Inspiration</h2>
    <ul>
        <li>
            In the past few years, we have noticed kids becoming addicted to screens making them socially unhealthy and
            forgetful of play. The value of traditional play is not being imparted properly to the next generation. We
            believe that play can touch a child’s heart and deeply enhance his growth. Our toys are thus hardly
            technology
            based allowing development of other capabilities.
        </li>
        <li>
            Alongside that, we have been concerned about the cluttering of materials as a result of excessive purchase
            and
            eventual idleness of toys. From a baby’s first crawl, Mother Earth bears the weight of our actions.
        </li>
        <li>
            By being exemplary in the field of environmental sustainability to our little bears, we are sowing the seeds
            that one day will become trees of awareness and power. Bearing in mind that the future of our globe is
            clasped
            within our children’s hands, we have to work together to nurture the right ideas and thoughts in them.

        </li>
    </ul>
</p-card>