
<!-- <div *ngFor="let iterator of membershipData">
    <span>DATA: {{iterator.address}}</span>
</div> -->
<!-- <h1>Angular 10 File Upload Tutorial Example - ItSolutionStuff.com</h1>
       
<form [formGroup]="myForm" (ngSubmit)="submit()">
  
    <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" id="name" type="text" class="form-control">
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
            <div *ngIf="f.name.errors.required">Name is required.</div>
            <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>
        </div>
    </div>
      
    <div class="form-group">
        <label for="file">File</label>
        <input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <div *ngIf="f.file.errors.required">File is required.</div>
        </div>
    </div>
          
    <button class="btn btn-primary" type="submit">Submit</button>
</form> -->

<div class="card">    
    
    <p-dataView #dv [value]="toyCatelogData" [paginator]="true" [rows]="9" filterBy="name"
        [sortField]="sortField" [sortOrder]="sortOrder">
        <ng-template pTemplate="header">
            <div class="p-col-12 p-md-12 p-lg-12">
                <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown> -->
                <div class="p-col-12 p-md-6 p-lg-6">
                    <span class="p-input-icon-left p-mb-2 p-md-mb-0">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                    </span>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </ng-template>
        <ng-template let-toy pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-list-item">
                    <img src="{{toyUrlHead + toy.toyimage}}" [alt]="toy.toyname"/>
                    <div class="product-list-detail">
                        <div class="product-name">{{toy.toyname}}</div>
                        <div class="product-description">{{toy.toydescription}}</div>
                        <p-rating [ngModel]="toy.rating" [readonly]="true" [cancel]="false"></p-rating>
                        <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{toy.category}}</span>
                    </div>
                    <div>
                        <span style="color: green;">IN STOCK</span>
                    </div>
                    <!-- <div class="product-list-action"> -->
                        <!-- <span class="product-price">{{product.price}}</span> -->
                        <!-- <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="toy.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                        <span [class]="'product-badge status-' + toy.inventoryStatus.toLowerCase()">{{toy.inventoryStatus}}</span>
                    </div> -->
                </div>
            </div>
        </ng-template>
        <ng-template let-toy pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-lg-3">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{toy.category}}</span>
                        </div>
                        <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{toy.inventoryStatus}}</span> -->
                    </div>
                    <div class="product-grid-item-content">
                        <img src="{{toyUrlHead + toy.toyimage}}" [alt]="toy.toyname"/>
                        <div class="product-name">{{toy.toyname}}</div>
                        <div class="product-description">{{toy.toydescription}}</div>
                        <p-rating [ngModel]="toy.rating" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                    <div>
                        <span style="color: green;">IN STOCK</span>
                    </div>
                    <!-- <div class="product-grid-item-bottom"> -->
                        <!-- <span class="product-price">${{product.price}}</span> -->
                        <!-- <p-button icon="pi pi-shopping-cart" [disabled]="toy.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                    </div> -->
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>