<p-card>
    <h1>
        TERMS OF SERVICES
    </h1>
    <p>
        The Terms of Service and Privacy Policy are entered into by and between you and Little Bears Playwood (
        collectively
        "we","us", " our", "company"). "You" are the user of our website and / or toy services offered through our
        website
        and other social platforms( our "services"). "Toys" refers to all products made available for use by Little
        Bears
        Playwood .Please read our Terms of Service and Privacy Policy before accessing and or using our services.
        By accessing our website and or services through any platform, you are bound to follow the Terms of Services .
        If
        you do not agree to all the terms , included in the Terms of Services, Privacy Policy and <a href="#">How It Works</a>, please
        do
        not use the the website or any of our services.We reserve the right to change any information in the website or
        social platforms without prior notice.We are not responsible for unnoticed updates. We are also not responsible
        for
        any inaccurate information on the website. The material is for general information and should not be solely used
        for
        making decisions .Reliance on the material in this website and other platforms is at your own risk.
    </p>

    <h2>
        Safety Information
    </h2>
    <h3>
        As a parent / guardian, you have the responsibility of ensuring the child's safety prior to and whe using the
        rented
        or purchases toys. When using any of our products, you agree to:
    </h3>
    <ol>
        <li>Review and adhere to all safety measures and ensure that the product is safe for your child prior to use
        </li>
        <li>Remove toys from packaging before introducing then to the child and do not allow them to play with the
            packaging
            items which may cause choking hazards and suffocation.</li>
        <li>Supervise the child carefully during use of toys.</li>
        <li>Exercise caution with small parts, ropes, strings and pieces that may cause injury which are includes in the
            product.</li>
        <li>Immediately remove damaged, broken, loose or impaired parts and notify us via email or whatsapp about the
            incident
            and
            such pieces. More information about impaired toys or parts is given on <a href="#">How it Works</a>.</li>
        <li>Ensure that the product is developmentally appropriate for the child as the developmental and chronological
            age
            may
            differ.</li>
        <li>The toy should be used with care in the presence of other children who may not be of the same chronological
            or
            developmental age as advised for the toy.</li>
    </ol>

    <h3>
        We are not responsible for or liable to you or any other person for :
    </h3>
    <ol>
        <li>Any injuries sustained while use of the product to the child for whom the product has been rented or
            purchased or
            any
            other children who have been using the toy or to any adult.</li>
        <li>Damages to property or any other costs</li>
        <li>Damage or loss of any kind to you or others resulting from the failure to adhere to the above mentioned
            safety
            measures</li>
    </ol>
    <p>
        You further acknowledge that it is solely your responsibility for any damage or loss incurred to anyone using
        the
        product. These products are not designed or manufactured by Little Bears Playwood and we are not certified or
        qualified
        to undertake any safety testing or quality assurance activities with respect to any products , on your behalf or
        behalf
        of any other persons. Although we cannot guarantee, we will try to take maximum care to provide you with safe
        products
        which are as functional as possible and be used for the intended purpose.We remind you that the products
        available
        may
        have been used multiple times and hence may not be wear resistant.
        We are not responsible for the accuracy of any advertisements or promotional materials by toy manufacturers or
        suppliers. The availability of the product throught our services does not imply our endorsement of any toy for
        unique
        needs or expectations of any child using it.
    </p>

    <h2>
        General Terms
    </h2>
    <h3>
        You agree :
    </h3>
    <ul>
        <li>Not to use our products for illegal purposes or violate any laws in your jurisdiction.</li>
        <li>Not to transmit any viruses or worms of destructive nature</li>
        <li>Not to disable / damage/ impair/ copy any material or working of the website or other social platforms used
            by
            us.</li>
        <li>Not to attempt unauthorised access to the website or any server connected to the website.</li>
        <li>Not to use our products in public places or for the public. They are meant for individual use only.</li>
        <li>Not to sell or rent out any of our products on your or any other person's behalf.</li>
        <li>To use our products carefully and understand that charges will be levied for damaged or missing pieces,
            impaired
            products and unreturned packaging bags.</li>
        <li>To return the product to us after the rental period. Any delay in returning or unreturned pieces or products
            will be
            charged as mentioned in  <a href="#">How It Works</a>.</li>
    </ul>

    <h3>
        Pricing and Products
    </h3>
    <p>
        Prices shown are inclusive of any sales tax applicable. Prices may be subject to change without prior notice.
        The description of the product is for general information. It may change from case to case. We cannot guarantee
        on
        the
        colour or design of the product as shown in the website. For any information regarding product characteristics,
        use,
        or
        availability, please contact us. We will not be responsible for choices made without proper prior knowledge.
        We will not be responsible for non availability of a product at a desired time. We cannot guarantee an immediate
        replacement of an unwanted product or if there is an impairment of function noted after delivery of the product.
        We
        will
        make all efforts to deliver products to you as soon as they are available and have completed the sanitisation
        procedure.
        We reserve the right to limit the lending or sales of our toys and services to any person, geographic area or
        jurisdiction. We also reserve the right to discontinue sevices of any toy at any time and to any person.
        We reserve the right to levy charges for missing pieces as a part or whole, damaged or impaired parts , non
        functional
        parts including electronics and unreturned or damaged packaging bags or boxes according to the discretion of the
        company. Kindly refer to the section <a href="#">How It Works</a> for more details.
        Service responsibility and Membership
        We will not be in default by reason of failure or delay in performance of our services due to any circumstance
        beyond
        our reasonable control like natural calamities,strikes,civil disturbances, labour disputes, non availability of
        supplies
        or electricity and epidemic or pandemic.
        You are responsible for making arrangements necessary to access the website and other social platforms . Anyone
        accessing our website and other social platforms through your internet connection and / or membership should be
        aware of
        the "Terms of Services ," "Privacy Policy" and the terms given under the section  <a href="#">How It Works</a> and adhere to
        them.
        Membership account can be shared only for siblings of single household. Details regarding the names and ages of
        the
        children for whom the membership is registered will be taken for safety purpose.
        Services may be denied if the membership is shared between different households.
        Membership is non transferrable.
        We reserve the right to disable any membership account if you have violated any provision of the ," Terms of
        Services "
        and " Privacy Policy".
        The website may include contents provided by third parties. We are not responsible or liable to you or any third
        party
        for the content or accuracy of any materials provided by third parties.
    </p>

    <h3>
        Errors
    </h3>

    <p>
        The information on our website and other social platforms may contain typographical errors or inaccuracies
        regarding
        offers, availability, pricing and description of products. We reserve the right to modify and update information
        without
        prior notice.
    </p>

    <h3>
        Warranties
    </h3>

    <p>
        We cannot guarantee an uninterrupted , timely, error free and secure service. We may cancel or remove the
        service at
        any
        time without prior notice. Our directors, partners, agents and employees are not responsible for any injury,
        loss,
        claim
        or replacement cost arising due to the use of our services including but not limited to our website and other
        social
        platforms and products.
        The Terms of Services and Privacy Policy that we provide you shall be in accordance with the laws of India.
        We reserve the right to update , change or replace any part of " Terms of Services ", "Privacy Policy " and "
        How it
        Works" at any time on our website without prior notice. It is your responsibility to check for updates on the
        website
        and / or social platforms through which we render the services.
        We may assign or freely transfer all or any of our rights , obligation or performance under the Terms of
        Services
        and
        Privacy Policy without your consent.
        All names, logos , designs and slogans on this website and other social platforms we use are trademarks of the
        company.
    </p>




    <h1>PRIVACY POLICY</h1>
    <p>
        This policy explains how Little Bears Playwood collects, uses and shares your information as well as the rights
        you
        have associated with this information. This includes any written, electronic and oral communication collected
        online
        and offline.
        When you avail our services, we collect your personal information including but not limited to your name, email
        address, current residential address, phone number, payment account details and product selection details. You
        may
        also be required to share basic information about your child including name and age of your child for
        identification
        purposes. This also includes information posted on the website and information you have provided during surveys
        and
        promotions and other social platforms. We may also store information such as your browser type, statistics on
        browsing actions, IP address and standard web log information. If you access our services through a mobile
        device,
        we may be able to identify the location of the device. Please adjust the settings on your device if you do not
        wish
        to share location details. We may use cookies, tags and other similar technologies for our services which help
        us to
        collect information mentioned previously. You may be able to remove cookies from your browser if you wish. This
        information maybe used for periodic emails or messages regarding updates in services, security and offers,
        processing transaction, to improve functionality and content of our services through website and other social
        platforms, and to cater to your individual needs. It may be used to provide customer support and contact as
        required
        , to process the information given to us for prevention and surveillance of violations to the Terms of Service
        and
        Privacy Policy and to fulfill business obligations, taxes and other legal requirements.Your information will not
        be
        sold, exchanged or transferred to any other company or persons without your consent other than for delivery of
        product or any service requested by you Your content may be transferred , unencrypted and involve transmission
        over
        various networks( not including credit card information).

        Although best efforts will be taken to safeguard your information, we remind you that no security system is
        impenetrable. In the event of a security breach, we will notify you if required by law. We will retain your
        information as required to comply with our legal obligations and to resolve disputes. This information includes
        that
        which is sent to us by correspondence and may be deleted over time. This site is only to be used by adults. The
        information provided by anyone less than 18 years of age if recognised will not be accepted and no agreement
        shall
        be made for services.
        We may modify the Privacy Policy and Terms of Services at any time without prior notice. New personal
        information
        may have to be collected after modification of policy. Please contact us if you have any questions regarding the
        Privacy Policy and Terms of Services.

    </p>
</p-card>