<p-card>
    <h1>How It Works</h1>
    <p>To start your membership,please register with your personal details including child's name and age.</p>


    <h2>Membership and services</h2>

    <ul>
        <li>
            The yearly membership can be obtained and maintained through a non-refundable fee of Rs 300 .The membership
            can be
            renewed every year after remitting the amount.
        </li>

        <li>
            A security fee of Rs 500 is to be paid which is refundable after the end of the one-year membership if the
            customer
            wishes to discontinue the service . This main security fee will not be reimbursed prior to the end of the
            membership
            period of one year. An additional security of Rs 800 or Rs 1500 as mentioned will be required only for
            select toys.
            This
            amount will be returned after the delivery of the particular toy and ensuring all parts are present and
            functional.
            Missing, damaged or non-functional parts or toy will be charged as per the discretion of the company.
        </li>

        <li>
            The items can be availed for a one-week, two-week, or one month period, for which prices will vary. Products
            may not
            be
            available for all these periods. The customer may request an extension of one or two weeks except after a
            one month
            rental period which will be taken into consideration but cannot be guaranteed. The extension rates may
            differ from
            the
            prices given in the catalogue. Kindly contact the company at least 3 days prior to delivery date for
            extension. If
            your
            child is attached to a toy, buy in option can be availed after the particular product has been rented for a
            minimum
            period of one month. The prices for sale will be determined by the company.
        </li>

        <li>
            The delivery of toys will be done to your registered residential address once a week in the afternoon on a
            specified
            day
            which will be informed to you. The pick-up will be on the same day after one week,two weeks or one month
            depending
            on
            the rental period you have chosen.The scheduled pick up date will be given at the time of delivery of the
            product.
            Additionally, a text message will be sent to the registered number and/or email 1-2 days prior to the
            scheduled date
            for
            pick up and delivery. It is your responsibility to check for such notifications as the company will not be
            responsible
            for unnoticed messages. Please ensure that the pick up or delivery of the product is possible on the
            scheduled date
            and
            time. Unless the customer informs the company 3 days prior to the scheduled delivery date, the customer
            shall remit
            an
            additional charge of Rs 75 in relation to scheduling a new delivery date and time based on other booking and
            availability of the product. Extension of the pick up date or inadequate response by customer in relation to
            pick
            up,
            will be considered as an extension of the rental period and will be charged on a weekly basis as pick up and
            delivery is
            done once weekly. The extension rates will be determined by the company .
        </li>

        <li>
            Delivery of products is free for a rental amount (excluding the membership fee) of Rs. 250.
            A delivery fee of Rs 25 will be charged for all rental amounts less than Rs 250.
        </li>

        <li>
            The products will be delivered within a radius of 7 km from Kuravankonam, Thiruvananthapuram.
            No services will be rendered outside these limits. Pick-up and delivery of toys will be done exclusively by
            the
            Company.
        </li>

        <li>
            All packaging bags and boxes must be returned with the toy. A fine will be charged at our discretion in case
            of
            failure
            to do so.
        </li>

        <li>
            It is the customer’s responsibility to check that toy is functional and there are no missing or impaired
            pieces
            according to the checklist provided by the beekeeper (delivery boy) at the time of delivery. The checklist
            must be
            acknowledged, signed and returned back to the beekeeper.
        </li>

        <li>
            When the product is returned to the beekeeper at the end of the rental period, you will receive a return
            receipt
            which
            must be kept safely till the next transaction as an evidence of return if required.
        </li>

        <li>
            Please ensure that all the pieces of the product are returned.
        </li>

        <li>
            Once the checklist is returned to us, no claims can be made regarding missing pieces, defective pieces or
            non-functional
            toys.
        </li>

        <li>
            Kindly inform us regarding any damage or loss of pieces during use. The penalty for the damage or loss will
            be
            levied
            according to the replacement cost which is determined by the company. This amount will be charged in the
            next rental
            transaction. If there is no further rental transaction, this amount will be deducted from the security
            deposit and
            the
            remaining amount will be refunded at the end of the membership year.
        </li>

    </ul>
    <p>
        ** The Company is not responsible for the replacement of the toy if the customer is dissatisfied for reasons
        other than
        damage or disfunction.
    </p>

    <h2>Safety</h2>

    <p>We remind you that it is the responsibility of the parent or guardian to ensure that the toy is safe and
        developmentally
        appropriate for the child for whom the membership is taken. The product must be checked prior to use and child
        should be
        supervised at all times while playing. The Company is not responsible for any damage, injury or loss incurred
        while
        using our products.</p>

    <h2>Cleanliness policy</h2>
    <p>

        The company follows a strict cleanliness policy which includes disinfection and thorough cleaning of all parts
        of the
        toy after each return.
        Once ready, the toy will be packed in a sanitized/ washed bag before delivery.
    </p>

    <p>
        ** Please read through the Terms of Services and Privacy Policy before availing our services.
        Feel free to contact us through Whatsapp messages ( +917736168300) or email( littlebearsplaywood@gmail.com ) for
        any
        clarification and communication.
    </p>
    
    <span style="color: #ef8400;">We warmly welcome your child into our dynamic playwood !</span>
</p-card>