/* :host ::ng-deep .custom-menu .p-megamenu {
    background: rgb(19 68 70) !important;
    border: none;
    display: flex !important;
    padding: 1.1rem !important;
}

:host ::ng-deep .custom-menu .p-megamenu-root-list {
    margin-left: 23% !important;
}

:host ::ng-deep .custom-menu .p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
    color: #fff !important;
    font-size: larger !important;
    font-weight: 500 !important;
}

:host ::ng-deep .custom-menu .p-submenu-icon {
    color: #f2ebe9 !important;
}

:host ::ng-deep .custom-menu .p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text:hover {
    color: #e99f4c !important;
}

:host ::ng-deep .custom-menu .p-submenu-icon:hover {
    color: #e99f4c !important;
}

:host ::ng-deep .custom-menu .p-megamenu-root-list>.p-menuitem .p-menuitem-text:hover {
    color: #e99f4c !important;
}

:host ::ng-deep .custom-menu .p-megamenu-root-list>.p-menuitem:hover .p-submenu-icon {
    color: #e99f4c !important;
}

:host ::ng-deep .custom-menu .p-megamenu .p-megamenu-submenu-header {
    color: #000000 !important;
    font-weight: 700 !important;
}



:host ::ng-deep .custom-menu .p-megamenu .p-menuitem .p-menuitem-active {
    background: none !important;
}

:host ::ng-deep .custom-menu .p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover {
    background: none !important;
}

:host ::ng-deep .custom-menu .p-megamenu .p-megamenu-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link {
    background: none !important;
}



:host ::ng-deep .custom-menu .p-megamenu-panel {
    display: none;
}

:host ::ng-deep .custom-menu .p-megamenu-root-list>.p-menuitem:hover .p-megamenu-panel {
    display: block !important;
    margin-top: 1.2rem !important;
    background: #f2ebe9;
}

:host ::ng-deep .custom-menu .p-megamenu-root-list>.p-menuitem-active>.p-megamenu-panel {
    display: block;
    margin-top: 1.2rem !important;
    background: #f2ebe9;
}

:host ::ng-deep .custom-menu .p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link:focus {
    border: none !important;
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
}

:host ::ng-deep .custom-menu .p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link:focus .p-menuitem-text {
    color: #e99f4c !important;
}

:host ::ng-deep .custom-menu .p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link:focus .p-submenu-icon {
    color: #e99f4c !important;
}

:host ::ng-deep .custom-menu .p-megamenu .p-megamenu-submenu-header {
    background: none !important;
} */


/*------------------------------------ new html megamenu--------------------------- */



* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  .logo {
      float: left;
      /* width: 14%; */
  }

  .shopping-icon, .shopping-icon i {
      float: right;
      margin-top: 1%;
      color: white;
      font-size: 2rem;
  }

  .shopping-icon:hover, .shopping-icon i:hover {
    color: #ff9b23;
    font-size: 2.5rem;    
    cursor: pointer;
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(19 68 70);
    font-family: Arial, Helvetica, sans-serif;    
    padding: 30px;
    display: flex;
  }

  .menu-items {
    justify-content: center;
    display: flex;
    width: 82%;
  }
  
  .navbar a {
    /* font-size: 16px; */
    color: #ef8400;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large !important;
    font-weight: 500 !important;
  }
  
  .dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #ef8400;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    font-size: x-large !important;
    font-weight: 500 !important;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    
    color: white
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 12%;
  }
  
  .dropdown-content .header {
    background: #ff9b23;
    padding: 16px;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #f2ebe9;
    height: 250px;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column a:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  }